html{
    font-family: system-ui;
    font-size: 62.5%;
}

body{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: wheat;
}

li{
    list-style: none;
}

/*UTILIDADES*/
.heading-1{
    text-align: center;
    font-weight: 500;
    font-size: 3rem;
    color: black;
}

/* Decoracion  de la pagina */

.color-amarrillo{
    background-color:wheat;
}

body{
    font-family: sans-serif;
    text-transform: capitalize;
}

/* FOndo del Main */
.main-content{
    background-color:wheat;
}






.hero{
    background: url(../images/302151902_157504583553916_8592320112598292338_n.jpg);
    background-size: cover;
    background-position:top;
    height: 100vh;
}

/* MENU HEADER */

header.main-header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}


.header-wrap{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: wheat ;
    z-index: 999;
}

.wrap-logo-header{
    display: flex;
    align-items: center;
    flex-basis: 15%;
}

.logo-header{
    font-weight: bold;
    font-size: 1.2rem;
    color: black;
}

.nav-header{
    display: flex;
    align-items: center;
    width: 100%;
}

.nav-wrap-header{
display: flex;
flex-basis: 50%;
}

ul.main-menu{
    display: flex;
    width: 100%;
    z-index: 99;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    font-size: 1.1rem;
}

ul.main-menu #nav-main-contact{
    display: flex;
    align-items: center;
    padding: .5rem 1rem;
    background-color:black;
    color: wheat;
}

li.menu-item{
    margin: .75rem;
    display: flex;
}

li.menu-item a{
    padding: .5rem 1rem;
    color:  black;
}

li.menu-item a:hover{
    color:  beige ;
}

i.toggle-menu{
    display: none;
    background-color: wheat;
    border: none;
    z-index: 9999;
}

i.toggle-menu img{
    width: 27px;
    z-index: 99;
}

input#check{
    display: none;
}



/* diseño footer */

footer{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.footer {
    background-color:wheat ;
    padding: 80px 0;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
}

.footer-links {
    width: 21%;
    padding: 0 15px;
}

.footer-links h5{
    font-size: 15px;
    color: black;
    margin-bottom:10px;
    font-weight: 500;
    border-bottom: 1px solid;
    padding-bottom: 0px;
    display: inline-block;
}

.footer-links ul li a{
    font-size: 15px;
    text-decoration: none;
    color: black;
    display: block;
    margin-bottom: 10px;
    transition: all .1s ease;
}

.footer-links ul li a:hover{
    color: beige;
    padding-left: 15px;
}

.social-links a{
    display: inline-block;
    min-height: 30px;
    width: 40px;
    background-color: black;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: wheat;
    transition: all .5s ease;
}

.social-links a:hover{
    background-color: beige;
}



/* agrandar iframe */

.footer-iframe{
    width: 100%;
    height: 420px;
    display:flex ;
    padding: 0;
    margin: 0;
}


/*politicas de privacidad*/

.politicas h1 h5 {
    background-color: black;
    color: wheat;
    margin: auto;
    padding: 0%;
    display: flex;
    box-sizing: border-box;
}


/* Titulo mas destacados */
.container-top-products{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3rem;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
}

/* Productos en oferta */
.container-product{
    display:flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 3rem;
}

.container-opcions{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 1rem;
}

.container-opcions span{
    color: wheat;
    background-color: beige;
    padding: .7rem 3rem ;
    font-size: 1.4rem;
    text-transform: capitalize;
    border-radius: 2rem;
    cursor: pointer;
}

.container-opcions span:hover{
    background-color: black;
    color: wheat;
}

.container-opcions span.active{
    background-color: black;
    color: wheat;
}
.container-opcions-1{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 1rem;
}

.container-opcions-1 span{
    color: wheat;
    background-color: beige;
    padding: .7rem 3rem ;
    font-size: 1.4rem;
    text-transform: capitalize;
    border-radius: 2rem;
    cursor: pointer;
}

.container-opcions-1 span:hover{
    background-color: black;
    color: wheat;
}

.container-opcions-1 span.active{
    background-color: black;
    color: wheat;
}

/* PRODUCTOS OFERTA */
.container-products{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax 20rem 1fr);
    gap: 3rem;
}

.card-product{
    background-color: white;
    padding: 2rem 3rem;
    border-radius: 5rem;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(0,0,0,0.1);
}

.container-img{
    position:relative;
}

.container-img img{
    width: 100% ;
}

.container-img .discount{ 
    position: absolute;
    left: 0;
    background-color: wheat;
    padding: 2px 1.2rem;
    border-radius: 1rem;
    font-size: 1.2rem;
}

.button-group{
    display: flex;
    flex-direction: column;
    gap: 1rem;

    position: absolute;
    top: 0;
    right: -3rem;
    z-index: -1;
    transition: all .4s ease;
}

.button-group span{
    border: 1px solid;
    padding: .8rem;

    display: flex;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, min-content);
    row-gap: 1rem;
}

.button-group span:hover{
    background-color: wheat;
}

.button-group span i{
    font-size: 1.5rem;
    color: black;
}

.button-group span:hover i{
    color: black
}

.card-product:hover .button-group{
    z-index: 0;
    right: .5rem;
}

.content-card-product{
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3,min-content;
    row-gap: 1rem;
}

.content-card-product h3{
    grid-row: 1/3;
    grid-column: 1/-1;
    font-weight: 400;
    font-size: 1.6rem;
    margin-bottom: 1rem;
    cursor: pointer;
}
.content-card-product h3:hover{
    color: beige;
}

.add-cart{
    justify-self: start;
    border: .2px solid black;
    margin: auto;
    padding: 1rem;
    border-radius: 50%;
    cursor: pointer;
    transition: all .4s ease;
    display:flex;
    align-items: center;
    justify-content:first center;
}

.add-cart:hover{
    background-color: black;
}

.add-cart i{
    font-size: 1.5rem;
}

.add-cart:hover i{
    color: wheat;
}

.content-card-product .price{
    font-size: 1.7rem;
    font-weight: 600;
}

.content-card-product .price span{
    font-size: 1.5rem;
    font-weight: 400;
    text-decoration: line-through;
    color: black;
    margin-left: .5rem;
}

/* PRODUCTOS mas vendidos */
.container-products-1{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax 20rem 1fr);
    gap: 3rem;
}

.card-product-1{
    background-color: white;
    padding: 2rem 3rem;
    border-radius: 5rem;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(0,0,0,0.1);
}

.container-img{
    position:relative;
}

.container-img img{
    width: 100% ;
}

.container-img .discount{ 
    position: absolute;
    left: 0;
    background-color: wheat;
    padding: 2px 1.2rem;
    border-radius: 1rem;
    font-size: 1.2rem;
}

.button-group{
    display: flex;
    flex-direction: column;
    gap: 1rem;

    position: absolute;
    top: 0;
    right: -3rem;
    z-index: -1;
    transition: all .4s ease;
}

.button-group span{
    border: 1px solid;
    padding: .8rem;

    display: flex;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, min-content);
    row-gap: 1rem;
}

.button-group span:hover{
    background-color: wheat;
}

.button-group span i{
    font-size: 1.5rem;
    color: black;
}

.button-group span:hover i{
    color: black
}

.card-product-1:hover .button-group{
    z-index: 0;
    right: .5rem;
}

.content-card-product-1{
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3,min-content;
    row-gap: 1rem;
}

.content-card-product-1 h3{
    grid-row: 1/3;
    grid-column: 1/-1;
    font-weight: 400;
    font-size: 1.6rem;
    margin-bottom: 1rem;
    cursor: pointer;
}
.content-card-product-1 h3:hover{
    color: beige;
}

.add-cart{
    justify-self: start;
    border: .2px solid black;
    margin: auto;
    padding: 1rem;
    border-radius: 50%;
    cursor: pointer;
    transition: all .4s ease;
    display:flex;
    align-items: center;
    justify-content:first center;
}

.add-cart:hover{
    background-color: black;
}

.add-cart i{
    font-size: 1.5rem;
}

.add-cart:hover i{
    color: wheat;
}

.content-card-product-1 .price{
    font-size: 1.7rem;
    font-weight: 600;
}

.content-card-product-1 .price span{
    font-size: 1.5rem;
    font-weight: 400;
    text-decoration: line-through;
    color: black;
    margin-left: .5rem;
}

/* MEDIA QUARY */


@media(max-width:991px){
    .footer-row{
        text-align: block;
        display: flex;
        flex-wrap: nowrap;
        padding: 80px 0;
    }
    .footer-links{
        width: 100%;
        margin-bottom: 10px;
    }
    .container-product{
        display: flex;
        gap: 3rem;
        margin-bottom: 3rem;
    }
    .container-product-1{
        display: flex;
        gap: 3rem;
        margin-bottom: 3rem;
    }
}

@media (min-width:880px){
    .header-wrap{
        padding: .5rem 5rem;
    }
}

@media (max-width:768px){
    header{
        margin-bottom: 4rem;
    }
    .header-wrap{
        position: fixed;
        width: 100%;
        background-color: black;
        padding: 0;
        top: 0;
        z-index: 9999;
        height: 60px;
    }
    .wrap-logo-header{
        position: fixed;
        z-index: 999;
        top: 3%;
        left: 3%;
    }
    i.toggle-menu{
        display: flex;
    }
    ul.main-menu,#nav-main-contact{
        display: none;
        left: 0;
        margin: 0;
        padding: 0;
    }
    ul.main-menu{
        position: fixed;
        background-color: wheat;
    }
    label.checkbtn{
        position: fixed;
        right: 3%;
        top: 3%;
        z-index: 9999;
    }
    #check:checked ~ ul{
        display: flex;
        z-index: 9;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        top: 0;
        font-size: 2rem;
    }
    .container-product{
        display: block;
        gap: 2rem;
        margin-bottom: 1rem;
    }
    .container-product-1{
        display: block;
        gap: 2rem;
        margin-bottom: 1rem;
    }
}

@media (max-width:393px){
    .container-product{
        display: block;
        gap: 3rem;
        margin-bottom: 3rem;
    }
    .container-product-1{
        display: block;
        gap: 3rem;
        margin-bottom: 3rem;
    }
    .footer-row{
        text-align: block;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 10px -10px;
        max-height: 500px;
        min-height: 400px;
    }
    .container-opcions{
        display: flexbox;
        justify-content: center;
        gap: .1rem;
        margin-bottom: .1rem;
        padding: 20px;
        margin: auto;
    }
    .container-opcions span{
        color: wheat;
        background-color: beige;
        padding: .7rem .2rem ;
        font-size: 1.4rem;
        text-transform: capitalize;
        border-radius: 2rem;
        cursor: pointer;
    }
    
    .container-opcions span:hover{
        background-color: black;
        color: wheat;
    }
    
    .container-opcions span.active{
        background-color: black;
        color: wheat;
    }
    .container-opcions-1{
        display: flexbox;
        justify-content: center;
        gap: .1rem;
        margin-bottom: .1rem;
        padding: 20px;
        margin: auto;
    }
    .container-opcions-1 span{
        color: wheat;
        background-color: beige;
        padding: .7rem .2rem ;
        font-size: 1.4rem;
        text-transform: capitalize;
        border-radius: 2rem;
        cursor: pointer;
    }
    
    .container-opcions-1 span:hover{
        background-color: black;
        color: wheat;
    }
    
    .container-opcions-1 span.active{
        background-color: black;
        color: wheat;
    }
}


@media (min-width:412px){
    .container-product{
        display: block;
        gap: 3rem;
        margin-bottom: 3rem;
    }
    .container-product-1{
        display: block;
        gap: 3rem;
        margin-bottom: 3rem;
    }
    .footer-row{
        text-align: block;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 10px -10px;
        max-height: 700px;
        min-height: 400px;
    }
}

@media (max-width:280px){
    .container-product{
        display: block;
        gap: 3rem;
        margin-bottom: 3rem;
    }
    .container-product-1{
        display: block;
        gap: 3rem;
        margin-bottom: 3rem;
    }
    .container-top-products{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-bottom: 2rem;
        align-items: center;
        justify-content: center;
        border-radius: 1rem;
    }
    .container-top-products-1{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-bottom: 2rem;
        align-items: center;
        justify-content: center;
        border-radius: 1rem;
    }
    .container-opcions{
        display: flexbox;
        justify-content: center;
        gap: .1rem;
        margin-bottom: .1rem;
        padding: 20px;
        margin: auto;
    }
    .container-opcions span{
        color: wheat;
        background-color: beige;
        padding: .7rem .2rem ;
        font-size: 1.4rem;
        text-transform: capitalize;
        border-radius: 2rem;
        cursor: pointer;
    }
    
    .container-opcions span:hover{
        background-color: black;
        color: wheat;
    }
    
    .container-opcions span.active{
        background-color: black;
        color: wheat;
    }
    .container-opcions-1{
        display: flexbox;
        justify-content: center;
        gap: .1rem;
        margin-bottom: .1rem;
        padding: 20px;
        margin: auto;
    }
    .container-opcions-1 span{
        color: wheat;
        background-color: beige;
        padding: .7rem .2rem ;
        font-size: 1.4rem;
        text-transform: capitalize;
        border-radius: 2rem;
        cursor: pointer;
    }
    
    .container-opcions-1 span:hover{
        background-color: black;
        color: wheat;
    }
    
    .container-opcions-1 span.active{
        background-color: black;
        color: wheat;
    }
    
}
@media (min-width:1200px){
    .container-product{
        display: flex;
        gap: 3rem;
        margin-bottom: 3rem;
    }
    .container-product-1{
        display: flex;
        gap: 3rem;
        margin-bottom: 3rem;
    }
}
@media (min-width:2200px){
    .container-product{
        display: flex;
        gap: .1rem;
        margin-bottom: .1rem;
    }
    .container-product-1{
        display: flex;
        gap: .1rem;
        margin-bottom: .1rem;
    }
}